# Bases Python

## Exercices :
Sur Jupyter ou Colab
Ajouter les énoncés suivants, puis faire les exercices :
1. Déclarer une variable days prenant la valeur 365 puis l’afficher
2. Déclarer une variable str_int qui est une string = « 3 » puis l’afficher
3. Convertir str_int en int puis l’afficher
4. Créer une liste vide qui se nomme months
5. Ajouter à cette liste vide la string « Janvier » puis afficher months
6. Créer une liste nommé years comprenant 6 valeurs : 2013, 2014, 2015, 2016, 2013, 2014.
7. Récupérer dans la variable first_value la première valeur de la liste years puis afficher first_value
8. Afficher les 3 première valeurs de years
9. Afficher le nombre d’éléments de years
10. Créer un dictionnaire vide years_count. À l’aide d’une boucle for parcourir years afin d’avoir pour chaque année le nombre d’occurrence de cette année.
EX : {2013: 2, 2014: 2, 2015: 1, 2016: 1}
11. Déclarer un dic animals qui permet de comptabiliser le nombre d’animaux dans une ferme. Cette ferme a 100 poules, 40 chèvres et 23 vaches
12. Afficher les éléments de animals
13. Modifier le nombre de poules dans animals à 120
14. Ajouter dans animals lions = 4
15. Créer une fonction ton_age qui permet de retourner « agé » si l’âge rentré par l’user est supérieur ou égale à 60 et « jeune » dans le cas contraire.

In [1]:
print("hello world")

hello world

In [1]:
days = 365
print(days)

365

In [2]:
str_int = "3"
print(str_int)

3

In [5]:
int_convertion = int(str_int)
print(int_convertion)
type(int_convertion)

3

int

In [6]:
months = []

In [7]:
months = ["janvier"]
print(months)

['janvier']

In [8]:
years = [2013, 2014, 2015, 2016, 2013, 2014]

In [11]:
first_value = years[0]
print(first_value)

2013

In [27]:
for y in years:
    i = 0
    if i<3:
        print(y)
        i += 1

2013
2014
2015
2016
2013
2014

In [28]:
years[0:3]

[2013, 2014, 2015]

In [30]:
len(years)

6

In [31]:
years_count = {}

In [33]:
for y in years:
    if y in years_count:
        years_count[y] +=1
    else:
        years_count[y] =1
    
print(years_count)

{2013: 2, 2014: 2, 2015: 1, 2016: 1}

In [34]:
animals = {
    "poules" : 100,
    "chèvres" : 40,
    "vaches" : 23
}

In [35]:
animals["poules"] = 120

In [37]:
animals["lions"] = 4
print(animals)

{'poules': 120, 'chèvres': 40, 'vaches': 23, 'lions': 4}

In [42]:
def ton_age(age):
    if age >= 60:
        print("agé")
    else:
        print("jeune")
        
ton_age(45)

jeune